<section class="post-container">
  <a href="/posts/{{id}}">
    <div class="post-header">
      <div class="author-container">
      </div>
    </div>
  </a>
  <div class="post-body-container">
    {{body}} </br>
    {{format_date date}}
  </div>
</section>