<section class="post-container">
  <a href="/posts/{{id}}">
    <div class="post-header">
      <div class="author-container">
      </div>
    </div>
  </a>
  <div class="post-body-container">
    <div class="spacer"></div>
    {{body}}
    <div class="spacer"></div>
    {{format_date date}}
    <div class="spacer"></div>
  </div>
</section>