<button class="brown-btn" id="new-post-btn">+ New Post</button>

<section class="post-container">
  <div class="post-header">
    <div class="author-container">
      <h2>Create New Post:</h2>
    </div>
  </div>
  <div class="post-body-container">

    <form class="new-post-form">
        <label for="post-title">Post Title:</label>
        <input type="text" id="post-title" name="post-title" />
        <label for="post-content">Content:</label>
        <textarea id="post-content" name="post-content"></textarea>
        <button type="submit">Create</button>
    </form>
    
  </div>
</section>

<div class="line-horizontal"></div>

{{#each posts as |post|}}
<button class="post-edit-btn">
  <div>{{post.title}}</div>{{format_date post.date}}
</button>
{{/each}}

<script src="/js/dashboard.js"></script>