{{> postInfo}}
<h3>Comments:</h3>
{{#each comments as |comment|}}
{{> commentInfo}}
{{/each}}

<section class="post-container">
  <div class="post-header">
    <div class="author-container">
      <h2>New Comment:</h2>
    </div>
  </div>
  <div class="post-body-container">

    <form class="new-comment-form">
        <label for="comment-text">Comment:</label>
        <textarea id="comment-text" name="comment-text"></textarea>
        <button type="submit">Submit</button>
    </form>
    
  </div>
</section>



  <script src="/js/post.js"></script>